# misspellings
alias gti="git"
alias igt="git"

# always open vim with tabs
alias vim="nvim -p"
alias vi="nvim -p"

# manipulate files verbosely (print log of what happened)
alias cp="cp -v"
alias mv="mv -v"
alias rm="rm -v"

# ls override from oh-my-zsh
if [[ "$OSTYPE" == "darwin"* ]]; then
  alias ls="gls --color=always -G"
fi
