# ls override from oh-my-zsh
if type gls >/dev/null 2>&1; then
  alias ls='gls -p --color=always -G --group-directories-first'
else
  alias ls='ls -p --color=always -G --group-directories-first'
fi

# manipulate files verbosely (print log of what happened)
alias cp='cp -v'
alias mv='mv -v'
alias rm='rm -v'

# tree
alias tree="tree --dirsfirst"

# useful kill commands
alias k='kill'
alias k9='kill -9'

# use nvim if present, otherwise vim
if type nvim >/dev/null 2>&1; then
  alias vim='nvim'
  alias vi='nvim'
else
  alias vi='vim'
fi

# chrome memory
alias chromem='ps -ev | grep -i chrome | awk '"'"'{print $12}'"'"' | paste -s -d"+" - | bc'

# rg - better colors
alias rg="rg -S --hidden --colors 'match:fg:white' --colors 'match:style:bold' --colors 'line:fg:blue'"

# git
alias g='git'
alias gn='git --no-pager'

# misspellings of git
alias gti=g
alias igt=g
alias itg=g

# commit wip
alias wip='g commit -a -m WIP'

# -- git shortcuts

# git checkout
alias gco="g checkout"
alias gcob="g checkout -b"

# git add
alias ga="g add"
alias gap="g add --patch"

# git commit
alias gc="g commit"
alias gca="g commit -a"
alias gcm="g commit -m"
alias gcam="g commit -am"
alias gcamend="g commit --amend --no-edit"
alias gcane="g commit --amend --no-edit"

# git push
alias gs='g st'

# git show
alias gsh='g show'

# git stash list
alias gsl='g stash list'
alias gsls='g stash list --stat'

# git log
alias gl='g log'
alias gll='g log --stat'
alias glm='gn log $(git merge-base HEAD origin/master)..HEAD'
alias gllm='gn log --stat $(git merge-base HEAD origin/master)..HEAD'

# git pull
alias gpom='g pull origin master-passing-tests'
alias gprom='g pull --rebase origin master-passing-tests'

# git push
alias gp='g push origin $(g branch-name)'
alias gpf='g push --force origin $(g branch-name)'
alias gpu='g push -u origin $(g branch-name)'

# git diff
alias gd='g diff'
alias gnd='gn diff'
alias gds='g diff --staged'
alias gnds='gn diff --staged'

