# misspellings of git
alias gti=git
alias igt=git
alias itg=git

# git
alias g="git"
alias gn="git --no-pager"

# git: pushing
alias gs="git st"

# git: pushing
# see ./bin/gpu
alias gp="git push"

# git: diffing
alias gd="git diff"
alias gnd="git --no-pager diff"
alias gds="git diff --staged"
alias gnds="git --no-pager diff --staged"

# useful kill commands
alias k="kill"
alias k9="kill -9"

# always use nvim
alias vim="nvim"
alias vi="nvim"

# manipulate files verbosely (print log of what happened)
alias cp="cp -v"
alias mv="mv -v"
alias rm="rm -v"

# ls override from oh-my-zsh
if [[ "$OSTYPE" == "darwin"* ]]; then
  alias ls="gls --color=always -G"
fi
