# NB: caused by `.hiren` name clash
# `.hiren` is both the `gitignore`d directory and what I call the clone of `dotfiles`.
search_utils_save.vim

# local things that may contain secrets
configs/local.sh
configs/local-*.sh
aliases/local.sh
aliases/local-*.sh
functions/local.sh
functions/local-*.sh

# ephemeral things
logs/
made/
.DS_Store
.local/
.metals/
.oh-my-zsh/
.screenlog/
.vim/

# external things
auto-sized-fzf/
bat/
clipboard-listener-macos/
dircolors-solarized/
env-context
fd/
fzf-tab-completion/
fzf/
git-fuzzy/
github-watched-prs/
gpt-interview-support/
interactively/
kube-fuzzy/
pure/
ripgrep/
searchy/
solarized/
utils/

.bin-pyenv/
