# local things
configs/local.sh

# ephemeral things
logs/
made/
.DS_Store
.local/
.metals/
.oh-my-zsh/
.screenlog/
.vim/

# external things
bat/
dircolors-solarized/
env-context
fd/
fzf/
git-fuzzy/
interactively/
pure/
ripgrep/
solarized/
utils/
auto-sized-fzf/
