# NB: caused by `.hiren` name clash
# `.hiren` is both the `gitignore`d directory and what I call the clone of `dotfiles`.
search_utils_save.vim

# local things
configs/local.sh

# ephemeral things
logs/
made/
.DS_Store
.local/
.metals/
.oh-my-zsh/
.screenlog/
.vim/

# external things
github-watched-prs/
auto-sized-fzf/
bat/
dircolors-solarized/
env-context
fd/
fzf/
fzf-tab-completion/
git-fuzzy/
interactively/
pure/
ripgrep/
solarized/
utils/
